html {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color:green;
}
*::after, 
*::before {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}