html {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}
*::after, 
*::before {
    box-sizing: inherit;
}
:root{
    --default-color:#333333;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 70px;
}
a {
    text-decoration: none;
    
}
li {
    list-style: none;
}
/* MENU */
.navigation :first-child{
    display: block;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    margin-bottom: 80px;
}
.nav__page {
    margin: 0;
    padding: 0;
    font-size: 14px;
    
    text-transform: uppercase;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 490px;   
}
.nav__item a {  
    color: #95e1d3;
    line-height: 18px;
    border-bottom: 3px solid transparent;
    transition: color 0.2s linear;
}
.nav__item a:hover {
    color:#f38181;
    border-bottom: 3px solid #f38181;
}
.work {
    font-family: ‘Kaushan Script’, cursive;
    font-size: 24px;
    line-height:29px;
    font-style: italic;
}
.headline__one {
    font-size: 30px;
    color: var(--default-color);
    text-transform: uppercase;
    line-height: 36px;
    font-weight: bold;
}
.headline__one::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 67px;
    
      
}
.headline__one, .work{
    text-align: center;
}
/* 
Section text 
*/
.first__item{
    padding-bottom: 100px;
}
.first__item__text{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    

}
.text__headline {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color:#333333;
    margin-bottom: 23px;
}
.icon p {
    margin: 0;
    font-size: 15px;
    font-weight: 24px;
    color: #999999;
}
.icon:nth-last-of-type(-n+3) {
    margin-bottom: 0;
}
.icon {
    width: 320px;
    position: relative;
    padding-left: 80px;
    margin-bottom: 100px;
}
.icon__alarm,.icon__web,.icon__creativ,.icon__ceo,.icon__css,.icon__digital {
    /* position: relative; */
    /* padding-left: 2rem; */
}
.icon__alarm::before,.icon__web::before,.icon__creativ::before,.icon__ceo::before,.icon__css::before,.icon__digital::before,
.icon__alarm::before {
    display: block;
    height: 31px;
    position: absolute;
    top: 0%;
    left: 30px;
    
      
}
.icon__alarm::before{
    content: url("../img/ALARM.png");
}
.icon__web::before{
    content: url("../img/web.png");
}
.icon__creativ::before{
    content: url("../img/creativity.png");
}
.icon__ceo::before{
    content: url("../img/BOOK\ 2.png");
}
.icon__css::before{
    content: url("../img/HOME.png");
}
.icon__digital::before{
    content: url("../img/digital.png");
}




/* 
TEAM
*/
.second__item{

}
.second__item__text{
    color: #999999;
    width: 980px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 78px;
}
.team {
    display: flex;
    justify-content: space-between;
}
.team__title{
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-top: 32px;
    text-align: center;
    

}
.team__info{
    font-family: serif;
    font-size: 15px;
    line-height: 24px;
    color:#999999;
    margin-top: 5px;
    text-align: center;
}
.team__memeber{
    position: relative;
    transition: color 0.2s linear;
    
}

.team__memeber img {
    transition: .2s ease-in-out;
    /* box-shadow: 10px 10px 0 0 rgb(149, 225, 211); */
}

.team__memeber:hover img {
    transform: translate(10px, 10px);
   
}
/*
 HOVER BLOCK
 */
.item-icons {
    margin: 0 auto;
    padding: 0;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(#e1897a, #fce38a);
    opacity: 0;
    position: absolute;
    box-shadow: 10px 10px 5px #95e1d3;
    
    
}

.item-icons {
    position:absolute;
    top:0;
    
}
.icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    width: 227px;
    
}
.icons__btn1, .icons__btn2, .icons__btn3, .icons__btn4 {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
      
}
.icons__btn1 {
    background-image: url("../img/facebook.png");
}
.icons__btn2 {
    background-image: url("../img/twitter.png");
    
}
.icons__btn3 {
    background-image: url("../img/pinterest.png");
}
.icons__btn4 {
    background-image: url("../img/instagram.png");
}
button{
    margin: 0;
    padding: 0;
    border: none;
}
.icons__btn1:hover, .icons__btn2:hover, 
.icons__btn3:hover, .icons__btn4:hover {
    background-color: #1abc9c;
    cursor: pointer;
    border: 1px solid transparent;
} 
}
button {
    padding: 0;
    outline: none;
}
.item-icons:hover { 
    opacity: 0.9;
    cursor: pointer;
}  
/* end */

.end {
    border-top: 1px solid #333333;
    height: 63px;
    padding-top: 10px;
    
}
.end__second {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.end__text{
    font-size: 14px;
    line-height: 17px;
    color:#333333;
}
.red{
    color:#f38181;
}
.frm{
    display: flex;
    justify-content: space-between;
    width: 272px;
    height: 40px;
}
.btn__input{
    background-color: #95e1d3;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 14px;
    border:none;
}
::placeholder{
    font-family: ‘Kaushan Script’, cursive;
    padding-left: 12px;
} 