$font-Montserrat:'Montserrat', sans-serif;
$text-dark-color:#333333;
$font-Kaushan:'Kaushan Script', cursive;
$font-Roboto:"Roboto", sans-serif;
$text-white-color: #ffffff;
$text-grey-color: #999999;
$color-pink: #f38181;
$color-yellow: #fce38a;